@media screen and (min-width: 320px) and (max-width: 800px) { 
    body{
        width: 100%;
    }
    .header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-header{
        margin-left: 0;
    }
    .toggle{
        display: flex; 
        justify-content: flex-start;
        margin-left: 20px;
    }
    .logo__text{
        margin-right: 20px;
    }
    
    .logo__img,
    .navigation__list{
        display: none;
    }
    .search__header-container{
        display: none;

    }
    .sub-header__title{
        padding: 0;
    }
    .container{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        width: 320px;
    }
    .contacts-container{
        margin-left: 0;
        margin-top: 200px;
    }
    .footer-container-list{
        margin-left: 0;
    }

    /* wrap */
    .contacts-container{

    }
    .contact-forms{

    }
}
